.itemCard {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-items);
  color: var(--foreground);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  gap: 15px;
  width: 100%;
}

.itemInfo {
  display: flex;
  gap: 15px;
}

.itemName {
  font-size: 13px;
}

.itemImage {
  width: 56px;
  font-size: 8px;
  object-fit: cover;
  border-radius: 5px;
}

.itemDescription {
  font-size: 11px;
}

.itemPrice {
  font-size: 13px;
  font-weight: 500;
  color: var(--primary);
  min-width: 55px;
}   